[2019-06-09 15:58] modekano opened #1 "Map not show up"
I install the demo when i click in Pick Delivery Location, navigation well but map not show.
the map Key API I used I am sure is working.!

[2019-06-09 16:01] blackmann commented on #1
@modekano did you complete the installation instructions.

May I also know the platform (Android/iOS) you're facing this issue on??

[2019-06-09 16:12] modekano commented on #1
@blackmann I complete the installation instructions,
I use Android platform

[2019-06-09 16:18] blackmann commented on #1
@modekano does the place picker screen show?? And does the search field and nearby places work?

[2019-06-09 16:21] modekano commented on #1
@blackmann All are show,

[2019-06-09 16:24] blackmann commented on #1
@modekano then I guess your manifest might be missing something... can you post your `AndroidManifest.xml` (try to hide/replace your API key with xxxxxxxxxx).

If you're using VS Code, can you post any error log relating to the maps as well?

[2019-06-09 16:33] modekano commented on #1
@blackmann   manifest code:
`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pick_location">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="pick_

[2019-06-09 16:40] blackmann commented on #1
You should add
[code]

in the `<application>` tag. Like this

[code]

[2019-06-09 16:44] modekano commented on #1
@blackmann  I already add it in the top but not show in my post.
I note something when i navigate to  place picker screen and tap on the map space the log show as below:
`
ayout (package:flutter/src/rendering/proxy_box.dart:105:13)
E/flutter (26600): #30     RenderObject.layout (package:flutter/src/rendering/object.dart:1644:7)
E/flutter (26600): #31     _RenderProxyBox&RenderBox&RenderObjectWithC

[2019-06-09 16:51] blackmann commented on #1
@modekano now I guess the problem now will be related to your API key. To confirm that, I need to know if the autocomplete for search works?

And did the permission request show up when you first launched the demo??

[2019-06-09 16:54] modekano commented on #1
@blackmann Autocomplete not work, permission request not show up, but I did it through setting

[2019-06-09 17:11] blackmann commented on #1
@modekano there is a mistake in the `AndroidManifest.xml` it does not match the installation instructions.

Use this manifest template instead, and replace the api key value.

[code]

the meta for API_KEY should be in the `application` tag

[2019-06-09 17:13] blackmann commented on #1
Also for autocomplete search to work, you need to enable Places API for your API key

[2019-06-09 17:18] modekano commented on #1
@blackmann  I change the API_KEY to applications, still  map not show up.
I will enable Places API and feed you regarding autocomplete

[2019-06-09 17:20] blackmann commented on #1
@modekano can you edit your manifest to match the one I just posted as well. The position of your API key meta is at the wrong place.

Use this instead: https://github.com/blackmann/locationpicker/issues/1#issuecomment-500229342

[2019-06-09 17:28] blackmann commented on #1
You need to rebuild the whole application for changes to take effect. I hope you did that.

[2019-06-10 06:12] modekano commented on #1
@blackmann  I add Places API and change the manifest and rebuild the app, now the autocomplete is working but the map still not show up.

[2019-06-10 06:16] blackmann commented on #1
@modekano Great. can you privately give me access to your project so I help you

[2019-06-10 07:41] modekano commented on #1
@blackmann  Please check this link: https://github.com/modekano/pick-your-location/invitations

[2019-06-10 07:55] blackmann commented on #1
@modekano I just tried your project with my API Key and everything works fine. I didn't change anything except provide my API key. I think you don't have Maps API enabled for the key.

![Screenshot_1560153171](https://user-images.githubusercontent.com/5024388/59180664-1017ff80-8b55-11e9-9ec4-c18346ad755c.png)
![Screenshot_1560153219](https://user-images.githubusercontent.com/5024388/59180675-16a67

[2019-06-10 08:11] modekano commented on #1
@blackmann
But my key is work in other App.
This the API I was enable, do i have to enable other API?
Places API
Maps SDK for Android
Geocoding API

[2019-06-10 08:16] blackmann commented on #1
@modekano Could you rather create a new API key as per this comment? I think I personally faced similar issue before and had to just create a new API key.

https://github.com/flutter/flutter/issues/30649#issuecomment-488850520

[2019-06-10 09:10] modekano commented on #1
@blackmann I create new apis, all function work properly, but still map no show.

[2019-06-10 10:59] blackmann commented on #1
@modekano do you have any restrictions on the API key??

[2019-06-10 14:33] modekano commented on #1
@blackmann I use same API in other app it work perfect, I tested in real device Android 6 may be version issue?

[2019-06-12 17:17] modekano commented on #1
@blackmann  Do you check this issue with android, I change API many time but still not show up all other functions working fine.

[2019-06-14 10:13] blackmann commented on #1
@modekano sorry for the late reply. I'll create an issue in the repo you shared... and help you resolve the issue

[2019-06-18 10:00] modekano commented on #1
@blackmann This issue solved , after run flutter clean and rebuild the app the map show app.

[2019-06-18 10:00] #1 closed

[2019-08-03 00:32] efrizalde opened #2 "Please add place ID"
Hey, can you give placeID on LocationResult?

[2019-08-05 11:48] festelo opened #3 "Crash on 2nd open"
![image](https://user-images.githubusercontent.com/20724864/62462409-05ae6680-b790-11e9-861d-a24886321257.png)
[code]

[2019-08-05 18:03] blackmann commented on #3
@festelo did you finish up the android setup??

Also can you elaborate on your issue?? What does 2nd open mean; place picker screen open or the whole app open??

[2019-08-05 18:05] blackmann commented on #2
@efrizalde will have a look at it soon

[2019-08-05 18:15] festelo commented on #3
1. ACCESS_FINE_LOCATION setted
2. com.google.android.geo.API_KEY setted
3. gradle.properties updated

The code i sent executes when button has been pressed. On 1st button press PlacePicker successfully opens, but when i close PlacePicker and press the button again - the app crashes.

I found another library and maybe it's fork of yours, but this library works fine.
https://github.com/humazed/googl

[2019-08-05 19:55] blackmann commented on #2
@efrizalde `LocationResult` now has `placeId`.

Thanks for contributing to making the library better. Enjoy.

Closing the issue now.

[2019-08-05 19:55] #2 closed

[2019-08-05 20:03] blackmann commented on #3
It'll be great if i saw the code sample so I can help.

[2019-08-07 11:47] pmrajani opened #6 "OVER_QUERY_LIMIT Issue from google"
Hi i am having used your plugins and i have created new API and enable all service which is required. but not sure what is issue always throw this error

Can you suggest me where i am wrong?

`I/Google Maps Android API( 4432): Google Play services package version: 18382021
I/flutter ( 4432): {
I/flutter ( 4432):    "error_message" : "You have exceeded your daily request quota for this API. If you

[2019-08-07 18:04] ketanchoyal commented on #6
Did you found any solution?

[2019-08-07 18:05] blackmann commented on #6
This issue has to do with your billing settings on Google. Go to http://g.co/dev/maps-no-account as suggested by the `error_message` to have it fixed.

[2019-08-12 06:44] pmrajani commented on #6
I fixed that by adding payment profile on my console. it's work very cool now.

[2019-08-12 06:44] #6 closed

[2019-08-25 14:30] blackmann commented on #3
Closing this issue for the sake of inactivity.

[2019-08-25 14:30] #3 closed

[2019-09-12 07:02] gzf6 opened #7 "New function request"
I hope I can pass a language param, so I can get address by the language。

For example:
['https://maps.googleapis.com/maps/api/geocode/json?latlng=$lat,$lng&language=$lan&key=YOUR_KEY'](url)

[2019-10-24 01:02] xchristobear opened #8 "Example Code doesn't show results when entering a search"
I tried the example out of the box with my own google maps api key and there were no results when I typed anything into the search box. I tried removing the location and radius restrictions as well but still no results came up.

Just wondering if there was an issue this.

I'm using the latest version and am on the latest stable version of flutter.

[2019-10-24 08:16] blackmann commented on #8
@xchristobear you need to enable Places API and Maps SDK for Android and iOS for your API key in your cloud console

[2019-10-24 08:30] mrsqurriel commented on #8
Thanks. I forgot to enable one of them

[2019-11-24 20:08] wolvsky commented on #1
I have the same problem.
I did the flutter clean and the map still does not show.
Search and nearby places work, just the map that doesn't show. All map features are enabled.

[2019-11-24 20:10] wolvsky commented on #1
I have the same problem.
I did the flutter clean, rebuild and the map still does not show.
Search and nearby places work, just the map that doesn't show. All map features are enabled.

@wolvsky

[2019-11-25 06:33] moriswala opened #9 "Missing Back Button"
Please add back button in the AppBar. Its very useful in case of iPhone specially if user want to cancel it without selection. Thank you

[2019-11-25 06:51] moriswala opened #10 "Feature request | Show previously selected location"
Same picker could be reused to show selected location to the user with little enhancement. Can we have something like
[code]

[2019-11-25 07:01] blackmann commented on #10
This is a great idea @moriswala . Will make that change today.

[2019-11-25 07:01] blackmann commented on #9
@moriswala alright. Will resolve it.

[2019-12-03 11:47] ChenPengHuang opened #11 "Custom initializes latitude and longitude?"

[2019-12-03 13:54] blackmann commented on #10
@moriswala this issue has been addressed.

Pass in an optional `displayLocation` to `PlacePicker` constructor to enable this feature.

[2019-12-03 13:54] #10 closed

[2019-12-03 13:58] blackmann commented on #11
Please refer to issue #10

[2019-12-03 13:58] #11 closed

[2019-12-05 06:45] blackmann commented on #7
@gzf6 Will resolve this today

[2019-12-05 11:03] ahmadkq opened #13 "Suggested places always at start positon"
When writing the place, the suggested places always appears at the top. I have the google map at the middle of my page. Any help?

[2019-12-05 15:21] blackmann commented on #13
I do not understand what you mean @ahmadkq. If this is a visual problem (as I suppose) please include a screenshot for diagnosis.

[2019-12-06 21:16] ahmadkq opened #14 "Selected location result always null"
When viewing the location picker, the selected location and the result always null

![Simulator Screen Shot - iPhone Xʀ - 2019-12-06 at 23 13 32](https://user-images.githubusercontent.com/26964283/70356987-69e85080-187e-11ea-978b-7c5b53b384e5.png)

[2019-12-07 06:50] blackmann commented on #14
Hi @ahmadkq, do you just go back or you tap on the selected location??

[2019-12-07 06:54] ahmadkq commented on #14
Hi, I do select a point in the map but the "Unnamed location" doesn't change! When i click the it the returns i null. I don't click back.

[2019-12-07 08:54] blackmann commented on #14
Hmm, @ahmadkq . Can you please look at the debug logs to see if there's an error? If there is, please post it here so I can help

[2019-12-07 11:22] dhorajiaabhishek commented on #14
Me too getting this error , It always return null.
there is nothing in log, NO exception.

[2019-12-07 11:49] blackmann commented on #14
I have rerun tests and I do not face this issues. May I see the code used to start the place picker??

@dhrojiaabhishek @ahmadkq

[2019-12-07 11:50] #13 closed

[2019-12-07 11:56] dhorajiaabhishek commented on #14
Sorry , it resoled
I was getting this error `You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started`

[2019-12-07 11:57] blackmann commented on #14
@ahmadkq could you please try and enable billing for your API keys just as @dhorajiaabhishek indicated?

[2019-12-07 16:40] ahmadkq commented on #14
@blackmann I already have my billing enabled. I can see this error when navigating to place picker page
"flutter: RangeError (index): Invalid value: Valid value range is empty: 0"

[2019-12-08 16:01] dariotrombello commented on #9
Any progress on this?
My app is also crashing when just clicking on the normal android back button on the bottom.

EDIT: I resolved the crash by just implementing a simple if condition

[2019-12-08 16:25] dariotrombello opened #15 "Issues when using the dark theme."
![Screenshot_20191208-171837](https://user-images.githubusercontent.com/24731809/70392301-01fd4b80-19df-11ea-96ad-ac2d8a5973ea.jpg)

When using dark theme the text is not visible anymore.

Code to reproduce this:
[code]

[2019-12-08 16:30] blackmann commented on #15
@dariotrombello thanks for raising this issue. I'll try  to resolve this during this week.

[2019-12-08 16:45] dariotrombello commented on #15
Thank you very much!

[2019-12-09 12:40] blackmann commented on #15
@dariotrombello Dark theming is enabled. Enjoy!!

[2019-12-09 12:40] #15 closed

[2019-12-09 12:43] blackmann commented on #9
@moriswala I tried to resolve this issue by adding the back button as requested. But from design perspective, the back icon will then be close to the search icon, which will make it a bit ugly.

I suppose, iPhone users are familiar with the back gesture and can rather use that- unless convinced otherwise.

[2019-12-09 12:43] #9 closed

[2019-12-13 12:25] adorufus opened #17 "how can i change marker color?"
how to change the marker color?

[2019-12-15 09:19] blackmann commented on #17
@adorufus will add a feature to customize the Marker

[2019-12-16 09:07] adorufus commented on #17
ok im closing this

[2019-12-16 09:07] #17 closed

[2019-12-30 22:34] DanielSmith1239 commented on #14
I am experiencing the same issue. Any luck?

[2019-12-31 06:48] ahmadkq commented on #14
I have fixed it. You need to enable the Geocoding API also

[2019-12-31 08:31] #14 closed

[2020-01-05 18:13] bhutanigautam opened #18 "LocationResult - Types/Icon request"
Firstly, thank you for building this. Post the deprecation of the Google Place package, I was planning to build my own and after much search and research, I found your package.

I appreciate how you are using the web-service result to render the nearby places; would it be possible for you to expose the icon and types properties in `LocationResult` for the consuming apps?

[2020-01-07 03:34] ChenPengHuang opened #19 "The nearby places is imprecise"
I search the "4021 Morgan Street, Little Neck, NY, USA" , But the first nearby places is "41-35, Morgan St" 。

[2020-01-08 05:53] bhutanigautam commented on #19
I noticed the same thing and apparently it's because the Web Service call to google to fetch nearby places (post geocoding auto complete search location) is done on a radius and is _not_ ranked by distance; hence, google returns (by default) prominent results and not places which are close by.

[2020-01-08 10:21] guit4eva opened #20 "Not working on Bluestacks, Nox or Memu emulator"
It seems to crash on Bluestacks4, Nox and Memu emulators. Is that possibly related to the Android versions they are using? Is there a workaround for that?

Stacktrace:

[code]

[2020-01-08 17:27] blackmann commented on #20
Per the stack trace, Bluestacks or the emulators you use do not support Google Play Services, which is required for the google_maps plugin to work

[2020-01-08 17:29] blackmann commented on #19
As @bhutanigautam indicated, the results displayed are as per what the call to nearby places API returns. I observed that myself, so I tried to ignore the first item in the result, but then in some situations the first item was relevant.

I think normal users may be able to overlook these.

[2020-01-08 17:40] blackmann commented on #18
Yes it would be possible to expose those properties. But the type and icon data can only be retrieved when the selected location is listed inside the nearby places.

If you'd like to get these extra attributes, you can do that with the current `LocationResult` returned and Places API. Have a look here on how to do that: https://developers.google.com/places/web-service/details

[2020-01-08 18:57] bhutanigautam commented on #19
Hey @blackmann , I was playing around with the code yesterday - check this out -
In search type in - `Maharaja India, Santa Marta` and select the location from the drop down. This assumes that I want to use that location.
Post the selection, the code geocodes and selects the first result and then shows the nearby places - this has two issues -

1. Geocoding - it doesn't return `Maharaja India` and

[2020-01-08 19:03] blackmann commented on #19
Hi @bhutanigautam, great work

I do not understand what exactly you mean, but contemplating more, i think geocoding should only be done when the user taps a location on the map. that would make sense or when a custom start location is set.

And I agree with everything else you said.

You can go ahead with the PR, let's have it reviewed and do good.

Thanks for the insight.

[2020-01-11 04:17] bhutanigautam commented on #19
Hey, will raise one over the weekend.

What I meant is -
- moveToLocation always reverse geocodes and sets the LocationResult - https://github.com/blackmann/locationpicker/blob/master/lib/place_picker.dart#L478

The problem with this is that you try to take care of two separate use cases in one go - user clicking on the map AND user selecting an auto complete result.

User clicking on the map - yu

[2020-01-11 11:49] blackmann commented on #19
Yeah, that's right.

[2020-01-11 16:04] bhutanigautam commented on #19
Hey, there are no tests!?
I can't use this in prod without this being stable and/or having a governance model.
Sorry bud, I don't have the time to add tests to this project.

[2020-01-11 20:26] #19 closed

[2020-01-13 05:27] #20 closed

[2020-01-13 05:28] #18 closed

[2020-01-14 15:45] Saif2nsari opened #21 "Returns Null after choosing location"
I used the same example in pub.dev and it always returns null after choosing the location.
Any help ?

[2020-01-14 15:47] blackmann commented on #21
Please have a look at this resolved issue: #14

[2020-01-16 18:49] #21 closed

[2020-01-31 07:32] MachariaK opened #22 "Null result"
I have implemented place_picker as per the example but the selected location(result) is null. On the picker, it indicates ''Unnamed Location". Everything else works.

[2020-01-31 11:24] blackmann commented on #22
Please have a look at issue #14.

[2020-02-17 13:45] #22 closed

[2020-03-03 04:27] kvt0012 commented on #1
I have the same problem, how to fix it ?
Thank you.

[2020-03-19 06:45] nvamsi214 opened #24 "Location result is coming null"
Hello,
I have been using your package for a while now. It was working fine till now. But from last few days i'm not getting the place result. Its giving me null & i'm not getting any exception too. Place picker is showing the current location and nearby places correctly, but not the selected location details. Help me to figure out what could be the issue.

Below is the attachment where you can see

[2020-03-19 07:33] blackmann commented on #24
Does search work? @nvamsi214

[2020-03-19 08:15] nvamsi214 commented on #24
yes, search will give the search results, but once i select a location place result will be null.

[2020-03-19 19:18] shuaibbapputty commented on #24
Me too.

for me search and nearby also doesn't works..
Can you please note out the changes you made.

[2020-03-20 07:55] blackmann commented on #24
@nvamsi214 can I have a look at the code you use to launch the place picker?

[2020-03-22 01:30] AbedRabaia commented on #24
@blackmann Am having the same issue

[2020-03-22 14:33] deacon78 opened #25 "Place_picker not scrollable therefore there is a A RenderFlex overflowed"
Testing Place_picker on a small android device screen (4") I get this error when calling
 MaterialPageRoute(builder: (context) => PlacePicker("API_KEY_GOOGLE")));

``
 Exception caught by rendering library ═════════════════════════════════════════════════════
The following assertion was thrown during layout:
A RenderFlex overflowed by 8.3 pixels on the bottom.
``
Maybe you should put the page Plac

[2020-04-08 19:41] muhamedfayed commented on #24
Same issue

[2020-04-09 11:21] sehejjain commented on #24
Same Issue.
UPDATE: RESOLVED

In addition to enabling Places API, Maps SDK for Android and Maps SDK for iOS for the API key, it should needs the Geocoding API.
I hope the documentation will be updated.
Everything works now.

[2020-04-12 14:55] abiudorina commented on #24
Thank you so much for this. I had the same problem and this worked. Please update the documentation @blackmann .

[2020-04-12 16:07] #24 closed

[2020-05-04 07:35] dinojw10 commented on #14
I have the same problem and have already enabled the Grocoding API, however the problem still persist. Any advise? im new to flutter

[2020-05-09 06:13] pblinux opened #29 "Result is null"
Hi.

I'm having troubles with picking a location, is always returning null. I checked #14 and  #24, I already have Geocoding enabled.

A RangeError message always shows when selecting a location.

[code]

flutter doctor:
[code]

[2020-05-09 06:41] blackmann commented on #29
#14 requires you to enable billing for your account. Is that requirement met?

[2020-05-09 20:58] pblinux commented on #29
Hi. @blackmann
Yes, it's enabled. Actually, `google_mas_flutter` by itself works without issues. :thinking:

[2020-05-11 11:13] ghost commented on #29
Found the cause.
<img width="826" alt="Screen Shot 2020-05-11 at 18 04 31" src="https://user-images.githubusercontent.com/23230582/81555197-5b184380-93b2-11ea-87f2-c6274b8ed149.png">
Because this api "https://maps.googleapis.com/maps/api/geocode/json" return "address_components", that has less fields than expected.
In this case, address_components has only 4 fields, so it through an exception.
Sol

[2020-05-11 11:21] ghost commented on #29
I think the result's format depend on the country.

[2020-05-11 11:22] blackmann commented on #29
Hi @blackblack915, I think 7 is out of bounds and must have been a typo. Fixing it now.

[2020-05-11 11:24] ghost commented on #29
if (result['address_components'] is List && result['address_components'].length >= 7) {
          this.locationResult = LocationResult()
            ..name = result['address_components'][0]['short_name']
            ..locality = result['address_components'][1]['short_name']
            ..latLng = latLng
            ..formattedAddress = result['formatted_address']
            ..placeId = result['pl

[2020-05-11 11:25] blackmann commented on #29
oh yes, you're right. Just found out the result length is variable.

[2020-05-11 11:25] blackmann commented on #29
Can you provide a merge request with this solution? @blackblack915

[2020-05-11 11:26] ghost commented on #29
sure @blackmann

[2020-05-11 11:35] ghost commented on #29
remote: Permission to blackmann/locationpicker.git denied to blackblack915.
fatal: unable to access 'https://github.com/blackmann/locationpicker.git/': The requested URL returned error: 403
@blackmann plz grant permission

[2020-05-11 11:38] blackmann commented on #29
First fork this project, the clone it and create a new branch, say `address-comp-fix`. Then make your changes.

Commit the changes and then push to origin (that is, your fork). Then visit this repo and go to the Pull Request tab, you'll see your changes and you can submit it for review there.

(I suppose you're new to open source contributions)

[2020-05-11 20:28] ghost commented on #29
I found a new solution. Use the component's types.
I made a pull request. Plz review it.

        bool isOnStreet = false;
        if (result['address_components'] is List<dynamic> && result['address_components'].length != null && result['address_components'].length > 0){
          for (var i = 0; i < result['address_components'].length; i++){
            var tmp = result['address_components'][i];

[2020-05-18 14:36] andbitty commented on #29
Hey @blackmann is this issue merged ?

I still receive null (with the emulator)

[2020-06-03 18:33] amirhabibz opened #31 "How Do I set Dark mode?"
I'm not sure How to set the dark mode. I don't see any parameters to set this in PlacePicker().

[2020-06-22 05:03] AxeemHaider commented on #29
Hi @blackmann

I'm also having the same issue can you please merge the pull request. Thanks.

[2020-06-22 05:32] sehejjain commented on #29
@AxeemHaider Did you enable the GeoCoding API?
GeoCoding API is needed for this to work.

[2020-06-22 15:47] AxeemHaider commented on #29
@sehejjain Yes I did enable Geocoding API. And billing is also enable in my account.
I have a same error which has @blackblack915
`RangeError (index) Invalid value not in range 0..5, inclusive 7`

I see @blackblack915 create a pull request to solve this problem but this pull request is not merged don't why.

[2020-06-22 16:23] AxeemHaider commented on #31
Exactly, there is no documentation how you can set Dark mode.
@amirhabibz you find any solution how to set dark mode ?

[2020-06-22 16:28] AxeemHaider commented on #9
@blackmann Might not on Android but it should be on iPhone.

[2020-06-22 18:02] amirhabibz commented on #31
@AxeemHaider I didn't figure it out. I set my phone to dark mode as well and it didn't change. I think we have to set a dark mode theme manually ourselves in main.dart.

[2020-06-23 04:12] AxeemHaider opened #32 "RangeError Invalid value not in range 0..5, inclusive 7"
I'm using `place_picker 0.9.14` After installing and configure everything enabling APIs which are mention I try to run this package.
Whenever I select any place it give an error.

Billing is also enable in my account.

I see there is a pull request where I think this problem is saved but don't know why owner of this is not merging it.

[2020-06-23 04:14] AxeemHaider commented on #31
@amirhabibz is this package is working for you because this package is not working for me whenever I select any place it give range error.
see issue #32 someone send a pull request to fix this but owner is not merging it I don't know why. I think this package is no longer maintain.

[2020-06-25 10:30] faisalmushtaq007 commented on #29
i'm having the same NULL problem and i've tried everything without the billing thing. Is it necessary to enable billing?

[2020-06-26 04:42] pblinux commented on #29
@faisalmushtaq007 Yes, you must have billing enabled. This issue happens because some fields length in result are variable. We're waiting for #30 to be merged.

[2020-06-26 04:57] ghost commented on #29
@AxeemHaider @faisalmushtaq007 while waiting for the pull request merged, you can edit the cached file on your computer (place_picker.dart) as my solution above. It'll work.

[2020-06-26 05:55] AxeemHaider commented on #29
@blackblack915 why owner is not merging this pull request. It seems this repo is no longer maintain

[2020-06-26 08:59] ghost commented on #29
@AxeemHaider i don't know. he's disappeared. 🥶

[2020-07-11 12:41] Parassharmaa commented on #29
For the time being use the following dependency:

[code]

[2020-08-06 12:27] nombrekeff commented on #32
I'm also facing this issue and can't select places. It lists the places in the search box but does not select it.

Any idea what could be causing this?

I have a version of the APP in production with same token and it works perfectly. But new build fails to work.

[2020-09-22 09:55] Himanshuranjan30 opened #33 "dart:async not required at some places as per Dart 2.1"
Automatically imported dart:core already has those implementation as per Dart 2.1

[2020-11-02 12:10] Dreamersoul opened #34 "Update google_maps_flutter"
update `google_maps_flutter` to stable release. [release link](https://pub.dev/packages/google_maps_flutter/changelog#105).
this will ensure the library is up to date and will allow me to be inline with google maps future updates

[2020-11-02 13:20] blackmann commented on #34
@Dreamersoul , addressed! Enjoy!

[2020-11-02 13:20] #34 closed

[2020-11-02 13:22] blackmann commented on #32
@AxeemHaider PR has been merged for a long while now. Sorry for not getting back sooner.

[2020-11-02 13:22] #32 closed

[2020-11-02 13:23] blackmann commented on #31
@amirhabibz sorry for the late reply. You're right, you have to set a dark theme globally in your app (dart code) for it to work.

[2020-11-02 13:23] #31 closed

[2020-11-02 13:26] blackmann commented on #29
😬😬😬 Sorry the fix has been merged for a long while now. I'm sorry for being absent.

[2020-11-02 13:26] #29 closed

[2020-11-02 14:06] Dreamersoul commented on #34
Thank you!

[2020-11-08 14:17] daverupp opened #36 "AutoCompleteBox navigate"
@blackmann first of all, thank you very much for this very nice wrapped control for choosing a place.

What I experienced is, that when I search a place in the AutocompleteBox and click the place... the map navigates, but the selection box is loading infinitely. I have to move a bit around in the map, that I can select a place...

Would be super cool, if you could have a look to just take the curr

[2020-11-08 14:37] daverupp commented on #36
so sorry... wrong flutter project 👎
cheers

[2020-11-08 14:37] #36 closed

[2020-11-11 13:06] daverupp opened #37 "Localization"
@blackmann thx for the super work
One question. I see the english string hard coded in the code. Is it possible to expose these values to the constructor of PlacePicker so I can actually localize the widget?

would be super cool if you could do that... Would love to use this super nice widget.

[2020-11-11 13:14] blackmann commented on #37
Hi @daverupp thank you 😊, I'm currently busy with lots of stuff and I can't assure to make this a priority right now. However, if you could please present an MR with the solution, I will be happy to merge it.

[2020-11-11 14:13] daverupp commented on #37
hmm wondering how to do :)

I tried to create a branch of the master, but when I want to commit the branch, I am not allowed to ... any idea?
Do I have to update the master directly and do a pull request? Not used to do pull-requests :) sorry

[2020-11-11 14:15] daverupp commented on #37
I think I have a solution ready :D

[2020-11-12 15:24] daverupp commented on #37
@blackmann can you add me as contributer, so I can contribute? :)
would love to share the code...

[2020-11-12 16:31] blackmann commented on #37
@daverupp great. To contribute, please fork this repo and clone it. Then do `git checkout -b localization`. In this branch, make your edits. When you're done push to your origin.

Then head over to this repo and create a new pull request. If this is too much theory (it's pretty straightforward though) join my [Discord Server](https://discord.gg/5CDnysz) and I can assist you.

I'm itching to have y

[2020-11-16 08:51] #37 closed

[2020-11-16 08:56] blackmann commented on #33
It is unclear what you mean. Can you elaborate please

[2020-11-30 14:31] tanvish99 opened #39 "does not update if location service is disabled"
if the location service is disabled on android it asks to enable the service but once the service is enabled the place picker does not update

[2021-02-07 12:18] Dararii opened #41 "Fatal Crash on Emulator with Google Play"
I just use the plugin by following the example. This is my code which causes an error.

[code]

And here the stack trace:

I/DynamiteModule(15121): Considering local module com.google.android.gms.maps_dynamite:0 and remote module com.google.android.gms.maps_dynamite:203112999
I/DynamiteModule(15121): Selected remote version of com.google.android.gms.maps_dynamite, version >= 203112999
V/DynamiteMo

[2021-02-07 15:56] Dararii commented on #29
Still have the problem on version 0.9.17. Help.

[2021-02-07 16:19] ghost commented on #29
@Dararii plz provide more detail

[2021-02-18 13:23] UnluckyY1 opened #42 "LocationResult always return a null result"
LocationResult always return a null result
[code]

[2021-02-18 15:20] UnluckyY1 commented on #29
@blackblack915 still having the same problem
google places + maps are enabled

[code]

**### Solved, i had to create a new project in google console everything works well now <3**

[2021-02-18 15:23] blackmann commented on #42
Do you have all the required APIs enabled for your key? As well as billing?

Please reference the `README` to see if you haven't missed a requirement

[2021-03-09 09:08] omerkv opened #43 ""http" Dependency creating conflicts"
Good morning,
Your Place Picker Migrarted package in "pub.dev" is based on HTTP package on version "0.12.2".
While the other new packages from Google, Firebase, and Flutter are using the new API with the HTTP version "0.13".
This creates a conflict that cannot be overridden because of the API change.

I'd be glad if you could help to migrate it to the new HTTP package.
Omer

[2021-03-09 21:06] robertevans1 opened #44 "Search suggestions does not inherit theme properly"
Wrapping the place_picker in a Theme widget changes most of the styling as desired but does not change the list of suggested places.

`Theme(
      data: ThemeData.light(),
      child: Builder(
        builder: (context) => PlacePicker(CONSTANTS.MAPS_API),
      ),
    );`

The above snippet produces a picker where most styling follows the specified ThemeData.light theme. But the list of suggeste

[2021-03-12 14:51] blackmann commented on #43
This has been resolved. Thanks for pointing out. And I'm sorry for the delay.

[2021-03-12 14:51] #43 closed

[2021-03-15 07:36] osama-157 opened #45 "google_maps_flutter dependency issue"
Good morning,
Your Place Picker Migrarted package in "pub.dev" is based on google_maps_flutter package on version "^1.0.5".
This creates a conflict that cannot be overridden because of the API change.

`Because place_picker >=0.9.16 depends on google_maps_flutter ^1.0.5 and geenacom depends on google_maps_flutter ^2.0.1, place_picker >=0.9.16 is forbidden.
So, because geenacom depends on place_pic

[2021-03-17 16:03] highdragon1996 opened #46 "Google maps flutter will not work with google mobile ads plugin"
I have created an app in flutter which utilizes both google maps flutter plugin and also google mobile ads plugin in the same screen. After installing the google mobile ads plugin, the google map will not load. The only way is to touch or refresh the map. Without the mobile ads the map worked fined. Please see to this issue

[2021-03-19 03:30] #46 closed

[2021-03-22 09:11] excode opened #47 "Null Safe version"
Please let release  the null safety  version.  We are stuck or give us some clue of fix it from our end.

Thank you

[2021-03-22 10:51] blackmann commented on #45
Resolved in `0.9.18-nullsafety`

[2021-03-22 10:51] #45 closed

[2021-03-22 10:51] blackmann commented on #47
Resolved in `0.9.18-nullsafety`

[2021-03-22 10:51] #47 closed

[2021-03-22 11:36] excode commented on #47
thanks bro

[2021-03-22 13:18] excode commented on #47
Compiler still shows it as non null safety

Is there any workaround

Package Name  Current  Upgradable  Resolvable  Latest

direct dependencies:
place_picker  ✗0.9.18  ✗0.9.18     ✗0.9.18     ✗0.9.18

[2021-03-22 13:34] blackmann commented on #47
Please use version `0.9.18-nullsafety`

[2021-03-22 13:56] excode commented on #47
![image](https://user-images.githubusercontent.com/4152357/111999184-f0de3c80-8b46-11eb-918e-3dd6af27dd30.png)

Already added 0.9.18-nullsafety  but when I am trying to run flutter it throws 0.9.18 is not null safty

[2021-03-22 14:22] blackmann commented on #47
Please use `0.9.19-nullsafety` instead and let me know what happens. I just publish an update

[2021-03-22 14:45] excode commented on #47
Thumbs up !!! now it working ...  Thank you

[2021-04-07 10:05] panchalAlpit commented on #42
@blackmann Please suggest how many APIs are required. please give the required APIs name.

[2021-04-07 10:24] panchalAlpit opened #48 "When search the place get return the "No result found"."
![1617791220793](https://user-images.githubusercontent.com/48007084/113852317-11023280-97ba-11eb-9ddf-ac667da43716.JPEG)

I have to Enable the google place API but also not get the result

[2021-04-19 01:00] #42 closed

[2021-05-10 14:29] Buk1m commented on #48
This is due to invalid `apiKey`. The code only checks if there is an error http code, but the Google Maps API returns 200 with "error_message" key in response. You should open the [Network DevTool](https://flutter.dev/docs/development/tools/devtools/network) and check the response from google maps.

Google maps [Error messages](https://developers.google.com/maps/documentation/javascript/error-mess

[2021-05-24 08:02] leoshrey opened #49 "How to search for predefined locations in the Search Bar"
I want user to select from predefined locations by fetching from the location list provided by the server side/ api.
So that user can search for a location in the field which is available in the list. Provided that the already selected location can't be selected again.
How can I achieve this with this library?

[2021-05-24 11:40] leoshrey commented on #49
@blackmann, @jogboms, @vishal-android-freak, @daverupp Anyone ?

[2021-05-24 12:16] vishal-android-freak commented on #49
I am afraid, you will have to write a custom implementation with Google maps flutter plugin. This can be easily achieved. You can return the exact lat long of the place searched by the user, in your API response and add a pin to the map on the returned location coordinates.

[2021-05-24 15:39] leoshrey commented on #49
So, I can use any api for fetching locations to show them in the search bar ?
And will any other component (in this plugin) get affected by doing so ?
And what do you mean by returning lat long here?
Actually I want user to be able to select only those locations which are not already selected by any other user.
Will I be able to use this plugin itself for achieving the desired feature ?

[2021-06-13 11:19] mozaffari opened #50 "New feature request: Ability to customize the widgets"
It would be a great feature if developers are able to customize all of the widgets.

Which branch should I pick if I create a pull request to add this feature?
Should I use the null safety branch as the base?

[2021-06-22 09:55] panchalAlpit commented on #48
@Buk1m  Thanks for the response. I have used the valid API key but right now I have using the free google account(without billing), so we need to purchase to google account(plan) or not. and also I have not to use the restriction API key.

Error:-

http:  {error_message: This IP, site or mobile application is not authorized to use this API key. Request received from IP address xxxx:xxxx:xxx:xxxx:x

[2021-06-23 04:38] panchalAlpit commented on #48
I have found the solution. Please update the below URL because of this is not the correct format.

     final url = Uri.parse(
          "https://maps.googleapis.com/maps/api/place/details/json?key=${widget.apiKey}&" +
              "language=${widget.localizationItem!.languageCode}&" +
              "placeid=$placeId");

       to

           var endpoint =
        "https://maps.googleapis.com/ma

[2021-06-23 04:38] #48 closed

[2021-08-13 01:12] martin-braun opened #56 "Restrict area to pick?"
I know that I can make checks after an address was picked, but is there a way to show an area circle on the map at a specific coordinate and a specific radius and allow to pick only addresses in that area?

Use case is to show a delivery area of a shop and the user enters his address to which the user wants to get the food delivered. Any attempt to enter an address outside of the circle area shoul

[2021-08-28 22:41] DavidSamir opened #57 "The getter 'body1' isn't defined for the class 'TextTheme'."
I've just installed the package in my project and now every time I try to run the project crashes

I get this error message in the terminal

`λ flutter run
Using hardware rendering with device sdk gphone x86 arm. If you notice graphics artifacts, consider enabling software rendering with "--enable-software-rendering".
Launching lib\main.dart on sdk gphone x86 arm in debug mode...
../../../AppData/

[2021-09-10 04:27] mu-dawood commented on #57
you can use this for ow
[code]

[2021-09-13 09:42] tjjv commented on #9
This is first time I heard there is such gesture. But I am not an iPhone user, only a developer creating cross-platform app.

The back gesture seems to work, but requiring it it does not match application design guidelines or requirements. So this location picker is not usable in this app.

EDIT: Also my client who has been iPhone user for 3+ years did not know that gesture.

[2021-09-16 08:42] hmarat opened #61 "Feature request | Ability to set autofocus on AppBar search TextField."
It will be nice if opens PlacePicker's screen, app bar search text field can become autofocused.

[2021-09-29 13:26] kbayegan opened #62 "Build crashes with Flutter 2.6"
Here are the errors. They happen running only the example and noting else:

Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    2 warnings generated.
    /Users/kamran/flutter/.pub-cache/hosted/pub.dartlang.org/location-2.5.4/ios/Classes/LocationPlugin.m:134:13: warning: 'UIAlertView' is deprecated: first deprecated in iOS 9.0 - UIAlertView is dep

[2021-10-15 09:10] nikitabuida commented on #62
Here's a temporary solution:
https://github.com/blackmann/locationpicker/issues/57#issuecomment-916621500

[2021-10-16 13:02] ghost commented on #57
Getting the same error. When is the update coming to fix this

[2021-10-17 05:54] Sreejith93 opened #63 "after upgrade flutter 2.2.3 to 2.5.0 i got this error"
/E:/Andriod/flutter/.pub-cache/hosted/pub.dartlang.org/place_picker-0.9.19-nullsafety/lib/widgets/rich_suggestion.dart:35:89: Error: The getter 'body1' isn't defined for the class 'TextTheme'.
 - 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('/E:/Andriod/flutter/packages/flutter/lib/src/material/text_theme.dart').
Try correcting the name to the name of an existing getter, or

[2021-10-17 09:18] Sreejith93 commented on #57
Same error any solution ?

[2021-10-22 13:27] xbtasvs commented on #57
/C:/Users/kuk/Documents/sdk/flutter/.pub-cache/hosted/pub.dartlang.org/place_picker-0.9.19-nullsafety/lib/widgets/search_input.dart:60:65: Error: The getter 'body1' isn't defined for the class 'TextTheme'.
- 'TextTheme' is from 'package:flutter/src/material/text_theme.dart' ('/C:/Users/kuk/Documents/sdk/flutter/packages/flutter/lib/src/material/text_theme.dart').
package:flutter/…/material/text_th

[2021-10-24 07:50] lucasjinreal commented on #63
@blackmann  same error here

[2021-10-24 07:54] lucasjinreal commented on #57
@mo-ah-dawood Your solution build error:

[code]

[2021-10-24 15:08] mu-dawood commented on #57
@jinfagang try again after upgrading packages
you can also use  `PlacePickerLocalization.delegate`

[code]

[2021-11-01 06:46] Sreejith93 commented on #63
any solution please

[2021-11-02 15:52] RockNav24 commented on #63
Same error

[2021-11-03 11:25] alishe79 commented on #63
same error here

[2021-11-04 12:21] RoRoStudio commented on #63
Edit the lines in the dart package like below and it will work. Of course the author should do this, but you can edit it yourself as well :)

**rich_suggestion.dart**
Original: TextSpan(text: boldText, style: style.copyWith(color: Theme.of(context).textTheme.**body1!**.color)),

New: TextSpan(text: boldText, style: style.copyWith(color: Theme.of(context).textTheme.**bodyText1!**.color)),

**search

[2021-11-08 04:00] zotovy commented on #63
same error

[2021-11-16 03:05] ArunYokesh1 opened #64 "Map not rendered"
Able to search places, getting nearby places as well, Map view is not rendered in the screen. I am able to move scroll left/right/top/bottom with finger in blank screen and able to see the updated location information in info section. Not sure whats going wrong here. I have below enabled APIs.

- Maps Embed API
- Maps JavaScript API
- Maps SDK for Android
- Maps SDK for iOS
- Places API
- Geocodin

[2021-11-16 03:09] ArunYokesh1 commented on #64
This is how Map rendering looks like
![IMG_20211116_083748](https://user-images.githubusercontent.com/1591536/141888911-b8642596-eb44-4d74-987a-5a349f7c5a9c.jpg)

[2021-11-18 09:58] negiot commented on #63
same error....

[2021-12-06 11:59] SushantSinghRajput03 commented on #63
Any Update on this

[2021-12-07 04:22] SushantSinghRajput03 commented on #63
**This works for me. Thanks for sharing.**

[2021-12-29 06:09] hasnainelahi opened #68 "Bug Found"
rich_suggestion.dart

Original: TextSpan(text: boldText, style: style.copyWith(color: Theme.of(context).textTheme.body1!.color)),

New: TextSpan(text: boldText, style: style.copyWith(color: Theme.of(context).textTheme.bodyText1!.color)),

search_input.dart

Original: Icon(Icons.search, color: Theme.of(context).textTheme.body1!.color),

New: Icon(Icons.search, color: Theme.of(context).textTheme.bod

[2022-01-18 19:25] blackmann commented on #68
Fixed with #67

[2022-01-18 19:25] #68 closed

[2022-01-18 19:25] blackmann commented on #63
Fixed in #67

[2022-01-18 19:25] #63 closed

[2022-01-18 19:26] blackmann commented on #62
Fixed in #67

[2022-01-18 19:26] #62 closed

[2022-01-20 10:55] s2yed opened #69 "LocationResult return null"
result = await Navigator.of(context).push(MaterialPageRoute(
        builder: (context) =>
            PlacePicker(keyMap,
              displayLocation: LatLng(lat,lon),
            )));

    print(result);

[2022-03-11 00:28] jrcmadushanka commented on #69
Same for me.

[2022-04-15 04:58] pradeep14598 opened #71 "Needed Support for flutter Web"
It will be helpfull when it comes to support for flutter web,
Thanks in Advance

[2022-04-22 14:12] brianmutiso commented on #69
This library practically doesnt work and is neither useful for any reasonable use

[2022-04-27 23:11] luislukas commented on #69
I was getting the same result until I did some debugging - turns out you have to enable billing in the project for Places Api to work.
After setting up billing and link it to the project it works perfectly.

Here are the details:
Error while debugging:

[code]

[2022-05-26 10:45] girishra opened #74 "Not compatible with null safety version and also with flutter 3"
As I'm using flutter latest version with null safety this not seem compatible with this, Please provide a latest version which compatible with flutter 3 as well as null safety. Thanks

[2022-05-27 23:37] jtkeyva commented on #74
did you try using
[0.9.20-nullsafety](https://pub.dev/packages/place_picker/versions/0.9.20-nullsafety)

[2022-05-28 06:47] girishra commented on #74
No I didn't used it because it's not mentioned in pub library, I'll try this now. Thanks

[2022-05-28 06:47] #74 closed

[2022-07-06 09:10] fulcus commented on #69
Geocoding API needs to be enabled for the plugin to work and return actual place info (and not null), whereas the Places API is optional and needed only if you want to display "Places" such as restaurants etc.

Geocoding API: https://console.cloud.google.com/apis/library/geocoding-backend.googleapis.com

[2022-08-17 14:45] rijazrasheed opened #75 "App crashes in Android after searching and picking a location"
After a location is searched in the search field of the place picker view, it is selected and comes back to the previous page, app crashes. The log is given below.
E/AndroidRuntime(11487): FATAL EXCEPTION: GLThread 1254
E/AndroidRuntime(11487): Process: com.app.*********, PID: 11487
E/AndroidRuntime(11487): java.lang.NullPointerException: Attempt to get length of null array
E/AndroidRuntime(11487)

[2022-08-30 12:04] EquitysoftAshish commented on #64
sad lyf

[2022-09-11 20:22] fulcus opened #77 "When using "Restrict usage on Google Cloud" API stops working"
Everything works fine until I restrict the API usage to Android apps with my SHA1 signature, which works for all other packages I am using, namely the google_maps_flutter plugin, which uses that same API key.

<img width="538" alt="api" src="https://user-images.githubusercontent.com/33703910/189547398-a40d9a7f-4942-4f74-9b54-5a6325c28dd3.png">

[2022-10-26 12:12] Yanaus opened #80 "Location result does not have all the informations"
Hi,

I would like to access all the information shared by google : https://developers.google.com/maps/documentation/places/web-service/details

the international_phone_number for exemple.

but in the result we have limited informations

[2022-11-07 12:59] sanketArhamLabs opened #81 "exceeded sample count in FrameTime"
4
I/Counters(23998): exceeded sample count in FrameTime
showing unnamed location
7
I/Counters(23998): exceeded sample count in FrameTime
I/flutter (23998): RangeError (index): Invalid value: Valid value range is empty: 0

[2022-11-08 05:31] #81 closed